[Desktop Entry]
Encoding=UTF-8
Name=MiniNo Web Browser
Name[de]=MiniNo Webbrowser
Name[en_CA]=MiniNo Web Browser
Name[en_GB]=MiniNo Web Browser
Name[es]=Navegador Web MiniNo
Name[fr]=Navigateur Web MiniNo
Name[gl]=Navegador web MiniNo
Name[it]=MiniNo - Browser web
Name[pt]=Navegador Web MiniNo
Name[pt_BR]=Navegador da Web MiniNo
GenericName=Web Browser
GenericName[de]=Webbrowser
GenericName[en_CA]=Web Browser
GenericName[en_GB]=Web Browser
GenericName[es]=Navegador web
GenericName[fr]=Navigateur Web
GenericName[gl]=Navegador web
GenericName[it]=Browser web
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador da Web
Comment=Browse the web
Comment[de]=Im Web surfen
Comment[en_CA]=Browse the web
Comment[en_GB]=Browse the web
Comment[es]=Navegue por la web
Comment[et]=Veebi sirvimine
Comment[fr]=Naviguer sur le Web
Comment[gl]=Navegar polo web
Comment[it]=Esplora il web
Comment[pt]=Navegar na web
Comment[pt_BR]=Navegue na web
Exec=/usr/bin/minex
StartupNotify=true
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/minex.png
Categories=Network;GNOME;GTK;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;
