[Desktop Entry]
Encoding=UTF-8
Icon=/usr/share/pixmaps/minex.png
Name=minex
Comment=The minino explorer
Exec=/usr/bin/minex
Terminal=False
Type=Application
Categories=GNOME;GTK;Internet;
StartupNotify=False
